apiVersion: v1
kind: Service
metadata:
  name: {{ include "fastapi-service1.fullname" . }}
  labels:
    {{- include "fastapi-service1.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "fastapi-service1.fullname" . }}
